PREPARE[PROJECT]=""
PREPARE[URL]=""
PREPARE[HT_USER]=""
PREPARE[HT_PASS]=""

PREPARE[live_db_name]=""
PREPARE[live_db_password]=""
PREPARE[live_db_user]=""
PREPARE[live_sitename]=""
PREPARE[live_db_driver]="mysqli"
PREPARE[live_db_host]="localhost"
PREPARE[live_db_port]="3306"
PREPARE[live_trustedHostsPattern]='^([a-z0-9-]+\.)?domain\.tld$'
PREPARE[live_encryptionKey]=$(openssl rand -hex 32)

PREPARE[stage_db_name]=""
PREPARE[stage_db_password]=""
PREPARE[stage_db_user]=""
PREPARE[stage_db_driver]="${PREPARE[live_db_driver]}"
PREPARE[stage_db_host]="${PREPARE[stage_db_host]}"
PREPARE[stage_db_port]="${PREPARE[live_db_port]}"
PREPARE[stage_sitename]=${PREPARE[live_sitename]}
PREPARE[stage_trustedHostsPattern]=""${PREPARE[live_trustedHlive_sitenameostsPattern]}
PREPARE[stage_encryptionKey]=$(openssl rand -hex 32)

PREPARE[PORJECT_PATH]=$(pwd)
