PREPARE[PROJECT]=""
PREPARE[db_name]=""
PREPARE[db_driver]=""
PREPARE[db_host]=""
PREPARE[db_password]=""
PREPARE[db_port]=""
PREPARE[db_user]=""
PREPARE[sitename]=""
PREPARE[trustedHostsPattern]=""
PREPARE[URL]=""
PREPARE[HT_USER]=""
PREPARE[HT_PASS]=""

PREPARE[PORJECT_PATH]=$(pwd)
PREPARE[encryptionKey]=$(hexdump -vn32 -e'4/8 "%08X" 1 "\n"' /dev/urandom)
